body {
  background-image: url('../../images/food-bg-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

#auth-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: none;

  #link {
    display: flex;
    width: fit-content;
    margin: 1rem auto;
    cursor: pointer;
    color: white;
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }
  .app-input-label {
    color: white;
    font-weight: bold;
  }

  .app-button {
    margin-top: 2rem;
  }
}
