.side-nav {
  background-color: #898121;
  .app-logo {
    h1 {
      font-size: 25px;
    }
    padding-bottom: 12px;
  }
}

.side-nav-link {
  background-color: #e8751a;
  padding: 12px 0px;
  margin: 10px 0px;
  border-radius: 10px;
  text-align: center;
  color: white;
  a {
    color: white;
    margin-left: 8px;
    text-decoration: none;
  }
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transition: 200ms;
  }
  &.active {
    background-color: #8d3e00;
    color: rgb(197, 197, 197);
    cursor: default;
    a {
      color: rgb(197, 197, 197);
      cursor: default;
    }
    &:hover {
      opacity: 100%;
    }
  }
}

.logout-txt {
  margin-left: 8px;
}